<div class="container">
  <h3 class="title">Welcome to my app!</h3>
  <p class="content">
    Here you can easily change the theme. Only thing you need to do is to press
    one of the buttons...
  </p>
  <div class="buttons-container">
    <button class="buttons-container__button buttons-container__button--secondary"
    (click)="setPrevTheme()">Set previous theme</button>
    <button class="buttons-container__button"
            (click)="setNextTheme()">Set next theme</button>
  </div>
</div>
