$white: #fff;
$white-transparent: transparentize(#fff, 0.8);
$black: #000;

$light-gray: #f5f5f5;
$dark-gray: #696969;

$blue: #2f77d2;
$light-blue: #69baff;

$green: #029a8b;
$light-green: #0acda8;

$purple: #a100ff;
$dark-purple: #45006b;
